#main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#hg {
    width: 15em;
    height: fit-content;
    padding: 0.5em;
    background-color: var(--card);
    border: solid 0.125em var(--border);
    border-radius: 1em;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    -ms-border-radius: 1em;
    -o-border-radius: 1em;
}