#main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#add {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#conteiner {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    margin-bottom: 1em;
}
#hg {
    width: 15em;
    height: fit-content;
    padding: 0.5em;
    background-color: var(--card);
    border: solid 0.125em var(--border);
    border-radius: 1em;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    -ms-border-radius: 1em;
    -o-border-radius: 1em;
}
#header {
    width: 95%;
    margin-bottom: 1em;
    border-bottom: 0.125em solid var(--foreground);
    border-radius: 0 0 1em 0;
    -webkit-border-radius: 0 0 1em 0;
    -moz-border-radius: 0 0 1em 0;
    -ms-border-radius: 0 0 1em 0;
    -o-border-radius: 0 0 1em 0;
}
#header > h3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0.3em;
    margin-bottom: 0.2em;
    background-color: var(--muted);
    color: var(--foreground);
    border-radius: 1em 0 1em 0;
    -webkit-border-radius: 1em 0 1em 0;
    -moz-border-radius: 1em 0 1em 0;
    -ms-border-radius: 1em 0 1em 0;
    -o-border-radius: 1em 0 1em 0;
}
#data {
    width: 95%;
    display: flex;
    flex-direction: column;
    padding: 1em;
    margin-bottom: 1em;
    border-bottom: solid 0.125em var(--foreground);
    border-radius: 1em;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    -ms-border-radius: 1em;
    -o-border-radius: 1em;
}
#data > h5 {
    margin-bottom: 1em;
}
.dashboardBtn {
    background-color: aqua;
    border-bottom: 90%;
    position: relative;
}
#profBtn {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 1em;
}