#main {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    min-height: 25em;
    align-items: center;
    margin-bottom: 1em;
}
#mainContent {
    display: flex;
    flex-direction: row;
    width: 100%;
    border-bottom: 0.125em solid var(--border);
}
#mainContent > Section {
    width: 100%;
}
#aside {
    display: flex;
    flex-direction: column;
    width: 25em;
    align-items: center;
}
#mainSection {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title {
    width: 95%;
    border-bottom: 0.125em solid var(--foreground);
    border-radius: 0 0 1em 0;
    -webkit-border-radius: 0 0 1em 0;
    -moz-border-radius: 0 0 1em 0;
    -ms-border-radius: 0 0 1em 0;
    -o-border-radius: 0 0 1em 0;
}
.title > h3 {
    padding: 0.3em;
    margin-bottom: 0.2em;
    background-color: var(--muted);
    color: var(--foreground);
    border-radius: 1em 0 1em 0;
    -webkit-border-radius: 1em 0 1em 0;
    -moz-border-radius: 1em 0 1em 0;
    -ms-border-radius: 1em 0 1em 0;
    -o-border-radius: 1em 0 1em 0;
}
.conteiner {
    display: flex;
    width: 100%;
    min-height: 25em;
    justify-content: center;
    padding: 1.5em;
}

@media (max-width: 1024px) {
    #mainContent {
        flex-direction: column;
    }
    .conteiner {
        align-items: center;
    }
    #aside {
        width: 100%;
    }
}