
#space { 
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-bottom: 0.25em solid var(--border);
    border-top: 0.25em solid var(--border);
    padding: 0;
    margin: 0;
    height: 3em;
}

#info {
    display: flex;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
}
#info > figure {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
    justify-content: space-evenly;
    border-right: solid 0.25em var(--border);
    margin-bottom: 1.5vh;
    margin-top: 1.5vh;
}

#info > article {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 50%; 
    height: 100%;
}

#reg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: fit-content;
    margin: 0.25em;
    padding: 1em;
    border: solid 0.25em var(--border);
    border-radius: 1em;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    -ms-border-radius: 1em;
    -o-border-radius: 1em;
}

#conditions { 
    grid-area: 3 / 1 / 4 / 3; 
    text-align: center;
    padding-bottom: 1em;
    color: var(--muted-foreground);
}

#conditions > h5 {
    color: var(--card-foreground);
    margin-bottom: 0.7em;
}

#conditions > p {
    color: var(--muted-foreground);
}

@media (max-width: 1024px) {
    #info > article {
        flex-direction: column;
    }
}