#hidden {
    transform: translateY(-250%);
    -webkit-transform: translateY(-250%);
    -moz-transform: translateY(-250%);
    -ms-transform: translateY(-250%);
    -o-transform: translateY(-250%);
}

#visible {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
}

#icon {
    grid-area: 1 / 1 / 3 / 2;
    width: fit-content;
    border-radius: 0 0 50% 0;
    -webkit-border-radius: 0 0 50% 0;
    -moz-border-radius: 0 0 50% 0;
    -ms-border-radius: 0 0 50% 0;
    -o-border-radius: 0 0 50% 0;
}
#space { 
    grid-area: 1 / 2 / 2 / 3;
    width: 100%;
}
#user { 
    grid-area: 1 / 3 / 2 / 4; 
    display: flex;
    justify-content: end;
    padding-right: 1em;
}
#profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
#profile:hover {
    color: var(--ring);
    text-decoration: underline;
}
.userIcon {
    height: 2em;
    width: auto;
}