#form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 0.5em;
}

.bg {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--input);
}

.fromContent {
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: center;
    padding: 1em 1em;
}

#passConfirm {
    flex-direction: column;
}

#passConfirm > div {
    display: flex;
    gap: 0.5em;
    flex-direction: row;
}

#wait {
    width: 15em;
    background-color: var(--card);
}