#form {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0.5em 0;
    padding: 1em;
    gap: 0.5em;
    border: solid 0.125em var(--foreground);
    border-radius: 1em;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    -ms-border-radius: 1em;
    -o-border-radius: 1em;
}
#form > div  {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 0.5em;
}

.input {
    padding: 1em 0.5em;
    width: 100%;
    background-color: var(--input);
    border: 0.125em solid var(--foreground);
    border-radius: 1em;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    -ms-border-radius: 1em;
    -o-border-radius: 1em;
}

#dropZone {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#select {
    cursor: pointer;
}