#hg {
    width: 15em;
    height: fit-content;
    padding: 0.5em;
    background-color: var(--card);
    border: solid 0.125em var(--border);
    border-radius: 1em;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    -ms-border-radius: 1em;
    -o-border-radius: 1em;
}
#main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#content {
    width: 50%;
}
#id {
    cursor: pointer;
    color: var(--muted-foreground);
}
#id:hover {
    text-decoration: underline;
}
.row {
    display: flex;
    flex-direction: row;
    align-items: end;
    gap: 1em;
}
#userProfile {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: fit-content;
    padding: 0.5em 0;
    justify-content: space-between;
    align-items: center;
    border: solid var(--foreground) 0.125em;
    border-radius: 1.5em;
    -webkit-border-radius: 1.5em;
    -moz-border-radius: 1.5em;
    -ms-border-radius: 1.5em;
    -o-border-radius: 1.5em;
}
#profileMark {
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 0.125em solid var(--border);
}
#profileInfo {
    flex: 1;
    overflow: hidden; 
    margin: 0 1em;
}
.ID {
    width: fit-content;
    cursor: pointer;
    color: var(--ring);
}
.ID:hover {
    text-decoration: underline;
}
.text {
    white-space: nowrap;      
    text-overflow: ellipsis; 
}
#form {
    padding: 0 1em;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 0.5em;
    padding: 1em;
    gap: 0.5em;
    border: solid var(--foreground) 0.125em;
    border-radius: 1em;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    -ms-border-radius: 1em;
    -o-border-radius: 1em;
}

.content > p {
    width: 100%;
    cursor: pointer;
    text-align: center;
    border: solid var(--background) 0.125em;
    padding: 0.25em 0;
}

.content > p:hover {
    border-top: solid var(--muted-foreground) 0.125em;
    border-bottom: solid var(--muted-foreground) 0.125em;
}

@media (max-width: 1024px) {
    #content {
        width: 80%;
    }
}