.dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header {
  text-align: center;
  position: relative;
}

.conteiner {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 2em;
  margin: 1em 0;
  place-items: center;
}

.crudCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 20em;
  height: 10em;
  padding: 1em 1em;
  background: #334353;
  position: relative;
  overflow: hidden;
  border: 0.125em solid transparent;
  border-radius: 1em;
  transition: all 0.3s ease;
  text-align: center;
  color: white;
}

.crudCard::before {
  background: linear-gradient(90deg, #888a8b, #2980b9);
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 5px;
}

.crudCard:hover {
  transform: translateY(-8px);
  box-shadow: 0 15px 35px rgba(175, 173, 173, 0.15);
}

.crudCard p {
  margin: 1em 0;
  line-height: 1.5;
}

.crudCard h2 {
  margin-bottom: 0.5em;
}

/* ================= BOTONES =================== */
.btn {
  background: linear-gradient(135deg, #172731, #103852);
  padding: 12px 30px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  position: relative;
  overflow: hidden;
  color: white;
  font-weight: bold;
  margin-top: 1em;
}

.btn:hover {
  background: linear-gradient(135deg, #334353, #134a6e);
  box-shadow: 0 6px 20px rgba(52, 152, 219, 0.4);
  transform: translateY(-2px);
}

.btn::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, transparent, rgba(255,255,255,0.2), transparent);
  transition: left 0.5s;
}

.btn:hover::before {
  left: 100%;
}

.modalTitle {
  margin-bottom: 30px;
  color: #2c3e50;
  text-align: center;
  border-bottom: 3px solid #3498db;
  padding-bottom: 10px;
}

#security {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
  gap: 0.5em;
  border: 0.125em solid var(--foreground);
  border-radius: 1em;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  -ms-border-radius: 1em;
  -o-border-radius: 1em;
}

.buttonWrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 758px) {
  .conteiner {
    flex-direction: column;
  }
}

@media (max-width: 375px) {
  .crudCard {
    width: 15em;
    height: fit-content;
  }
}