body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}
.board__article {
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    padding: 20px;
    width:20%;
    margin: auto;
}
.conteiner_title {
    display: flex;
    gap: 15px; 
    margin-bottom: 15px;
    background-color: #bcb9c7;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 10px; 
}
.conteiner_title img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid #ccc;
}
.board__title {
    font-size: 1.5em;
    margin: 0;  
}
.board__title p {
    font-size: 0.9em;
    color: #666;
    margin: 4px 0 0 0;
  
}

