.textContent {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.in {
    width: 15em;
    display: flex;
    align-items: center;
    justify-content: center;
}