#conteiner {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}
#gridConteiner {
    display: grid;
    width: 95%;
    justify-items: center;
    grid-template-columns: repeat(auto-fit, minmax(20em, 1fr));
    gap: 0.5em;
}
.item {
    display: flex;
    flex-direction: column;
    width: 20em;
    height: 15em;
    padding: 1em;
    background: var(--card);
    border: 0.125em solid var(--border);
    border-radius: 1em;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    -ms-border-radius: 1em;
    -o-border-radius: 1em;
}
.item:hover {
    cursor: pointer;
    border: solid 0.125em var(--ring);
}
.itemHeader {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    border-bottom: solid 0.125em var(--border);
}
#hgConteiner {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#hg {
    width: 15em;
    height: fit-content;
    padding: 0.5em;
    background-color: var(--card);
    border: solid 0.125em var(--border);
    border-radius: 1em;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    -ms-border-radius: 1em;
    -o-border-radius: 1em;
}

.hwConteiner {
    text-align: start;
}
.hwUl {
    overflow: hidden;

    text-align: start;
    list-style-type: circle;
    margin: 0;
}

.hwLi {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-bottom: 1em;
    cursor: pointer;
    text-decoration: underline;
}
.hwLi:hover {
    color: var(--ring);
}
.hwLi:active {
    color: var(--foreground);
}
.hwLi > p {
    width: 100%;
    max-height: 1.2em;
    overflow-y: hidden;
}
.description {
    max-height: 2.3em;
    overflow-y: hidden;
    text-align: start;
    margin: 1em 0;
}